*{
	font-family: 'Poppins', sans-serif;
}
#main-wrapper{
	width:500px;
	margin: 0 auto;
	background: white;
	padding:5px;
	border-radius:10px;
	border: 2px solid #81ecec;
}
.avatar{
	width:150px;
	margin: 0 auto;
	text-align:center;
	border-radius:50%;	
}
.myForm{
	width:900px;
	margin: 0 auto;
}
.labelvalues{
	width:100px;
	margin:0 auto;
	padding:5px;
	font-size:13px;
}
.inputvalues{
	width:150px;
	margin:0 auto;
	padding:5px;
	font-size:13px;
}
.gender{
	width:150px;
	margin:0 auto;	
	padding:5px;
	font-size:13px;
}
.dob{
	width:150px;
	margin:0 auto;
	padding:5px;
	font-size:13px;
}
.fileupload{
	width:150px;
	margin:0 auto;
	padding:5px;
	font-size:13px;
}
#login_btn{
	margin-top:10px;
	background-color:#ffeaa7;
	padding:5px;
	color:black;
	width:99%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	margin-bottom:10px;
}
#register_btn{
	margin-bottom:10px;
	background-color:#55efc4;
	padding:5px;
	color:black;
	width:99%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
#signup_btn{
	margin-top:10px;
	background-color:#ff7675;
	padding:5px;
	color:black;
	width:95px;
	text-align:center;
	font-size:15px;
	font-weight:bold;
	margin-bottom:10px;
	border-radius:10px;
}
#back_btn{
	margin-top:10px;
	background-color:#636e72;
	padding:5px;
	color:black;
	width:95px;
	text-align:center;
	font-size:15px;
	font-weight:bold;
	margin-bottom:10px;
	border-radius:10px;
}
#logout_btn{
	margin-top:10px;
	background-color:#d63031;
	padding:5px;
	color:black;
	width:99%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	margin-bottom:10px;
}